<header role="banner">
  <nav class="navbar navbar-expand-md navbar-dark bg-light">
    <div class="container">
      <a class="navbar-brand absolute" href="index.html">Skwela</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample05"
        aria-controls="navbarsExample05"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Home</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn()">
            <a
              class="nav-link dropdown-toggle"
              href="courses.html"
              id="dropdown04"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Dashboard</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a
                class="dropdown-item bg-dark text-warning"
                routerLink="dashboard-admin"
                *ngIf="isLoggedIn() && decodedToken.role == 'admin'"
              >
                {{ decodedToken.fName }} {{ decodedToken.lName }}</a
              >
              <a
                class="dropdown-item bg-dark text-warning"
                routerLink="dashboard-student"
                *ngIf="isLoggedIn() && decodedToken.role == 'student'"
              >
                {{ decodedToken.fName }} {{ decodedToken.lName }}
              </a>
              <a
                class="dropdown-item bg-dark text-warning"
                routerLink="dashboard-teacher"
                *ngIf="isLoggedIn() && decodedToken.role == 'teacher'"
              >
                {{ decodedToken.fName }} {{ decodedToken.lName }}</a
              >
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="sessions-training">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="instructors">Instructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav absolute-right">
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a routerLink="login" class="nav-link">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="!isLoggedIn()">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown05"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Register</a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a
                class="dropdown-item bg-dark text-warning"
                routerLink="signup-teacher"
                >Teacher</a
              >
              <a
                class="dropdown-item bg-dark text-warning"
                routerLink="signup-student"
                >Student</a
              >
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn()">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown06"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ><span class="text-warning">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{ decodedToken.fName }} {{ decodedToken.lName }}</span
              ></a
            >
            <div class="dropdown-menu" aria-labelledby="dropdown06">
              <a
                class="dropdown-item bg-dark text-warning cursor-pointer"
                (click)="logout()"
                >Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- END header -->
