<section
  class="section-cover"
  data-stellar-background-ratio="0.5"
  style="background-image: url(assets/images/big_image_3.jpg)"
>
  <div class="row justify-content-center align-items-center intro">
    <div class="col-lg-3 col-6 text-center">
      <span
        data-purecounter-start="0"
        data-purecounter-end="1232"
        data-purecounter-duration="1"
        class="purecounter"
      ></span>
      <h1 class="text-secondary bg-warning">Training Sessions</h1>
      <h1 class="text-warning" style="font-size: 120px">
        {{ categoriesCount }}
      </h1>
    </div>

    <div class="col-lg-2 col-6 text-center">
      <span
        data-purecounter-start="0"
        data-purecounter-end="64"
        data-purecounter-duration="1"
        class="purecounter"
      ></span>
      <h1 class="text-secondary bg-warning">Courses</h1>
      <h1 class="text-warning" style="font-size: 120px">{{ coursesCount }}</h1>
    </div>

    <div class="col-lg-2 col-6 text-center">
      <span
        data-purecounter-start="0"
        data-purecounter-end="42"
        data-purecounter-duration="1"
        class="purecounter"
      ></span>
      <h1 class="text-secondary bg-warning">Classes</h1>
      <h1 class="text-warning" style="font-size: 120px">{{ groupsCount }}</h1>
    </div>

    <div class="col-lg-2 col-6 text-center">
      <span
        data-purecounter-start="0"
        data-purecounter-end="15"
        data-purecounter-duration="1"
        class="purecounter"
      ></span>
      <h1 class="text-secondary bg-warning">Instructors</h1>
      <h1 class="text-warning" style="font-size: 120px">{{ teachersCount }}</h1>
    </div>
    <div class="col-lg-2 col-6 text-center">
      <span
        data-purecounter-start="0"
        data-purecounter-end="1232"
        data-purecounter-duration="1"
        class="purecounter"
      ></span>
      <h1 class="text-secondary bg-warning">Students</h1>
      <h1 class="text-warning" style="font-size: 120px">
        {{ studentsCount }}
      </h1>
    </div>
  </div>
</section>
