<section class="overflow">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-7 order-lg-3 order-1 mb-lg-0 mb-5">
        <img
          src="assets/images/person_testimonial_1.jpg"
          alt="Image placeholder"
          class="img-md-fluid"
        />
      </div>
      <div class="col-lg-1 order-lg-2"></div>
      <div class="col-lg-4 order-lg-1 order-2 mb-lg-0 mb-5">
        <blockquote class="testimonial">
          &ldquo;I had an amazing experience with SKWELA. The courses were
          engaging, the instructors were knowledgeable, and the support was
          exceptional. Thanks to my training here, I've gained valuable skills
          and confidence in my field.&ldquo;
        </blockquote>
        <p>&mdash; John Doe, Certified FullStackJS Student</p>
        <p>
          If you want to excel in your chosen field and unlock new
          opportunities, SKWELA is the place to be. Join us today and take the
          first step toward a successful future!
        </p>
      </div>
    </div>
  </div>
</section>
