<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class</th>
      <th scope="col">Course</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{ payment?._id }}</td>

      <td>{{ payment?.class }}</td>
      <td>{{ payment?.categoryName }}</td>
      <td>{{ payment?.date | date : "dd MMMM yyyy" }}</td>
      <td *ngIf="payment.fullyPaid == true" class="bg-success">
        Full Amount Is Paid
      </td>
      <td *ngIf="payment.fullyPaid != true" class="bg-warning">
        Full Amount Incomplete Payment
      </td>

      <td>
        <button
          class="btn btn-secondary ml-1 mt-3 p-3"
          (click)="askPaymentSummary(payment.class, payment.categoryName)"
        >
          Ask Payment Summary
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
